* {
    font-family: 'Ubuntu', sans-serif; /* apply text font for all elements */
}

html {
    background-color: #181a1b; /* apply background color for html element */
    color: white; /* apply text color for html element */
}