* {
    font-family: 'Ubuntu', sans-serif; /* apply text font for all elements */
}

html {
    background-color: #181a1b; /* apply background color for html element */
    color: white; /* text color for html element */
}

.text-block {
    text-align: justify;
    margin: 1rem 1rem 1rem 1.4rem;
    padding: 1px 1px 1px 1px;
}

ol > li {
    margin: auto;
}

header li {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 0rem;
    margin-right: 1rem;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
}

fieldset, input, select, textarea, button {
    border-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 1px;
    border-radius: 5px;
}

input, select, textarea, button {
    border-radius: 2px;
    background-color: hsl(200, 6%, 15%);
    color: white; /* text color */
}